/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.9;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  /* padding: 8px 8px 8px 32px; */
  margin: 0px 0px 18px 0px;
  text-decoration: none;
  font-family: 'molleregular';
  font-size: 34px;
  color: #0c13d4;
  text-align: center;
  display: block;
  transition: 0.3s;

  position: relative;
  top: 50px;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  /* color: #818181; */
  /* color: #d313c3; */
  color: #f12ae1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: -3px;
  right: 20px;
  font-size: 80px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 24px;
  cursor: pointer;
  background-color: #0c13d4;
  color: white;
  padding: 10px 15px;
  /* border: 1px solid #cecece; */
  border: 2px solid white;

  position: fixed;
  top: 15px;
  left: 15px;
}

.openbtn:hover {
  background-color: #d313c3;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;

  position: fixed;
  z-index: 1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}